*{
    padding: 0;
    margin: 0;
}


body{
    background: #240f02;


}
header{
    display: flex;
    justify-content: space-between;
    color: white;
    margin: auto;
    width: 1305px;
    height: 51px;
    padding-top: 30px;
}


ul{
    display: flex;
}
ul li{
    list-style: none;
    padding: 14px;
    transition: 0.5s;
    font-size: 14px;
}

.bron_button{
    border: 2px solid;
    width: 188px;
    height: 51px;
    background: none;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
}


.main_1{
    margin: 30px auto;
    width: 1296px;
    height: 542px;
    display: flex;
}
.main_1_box_1{
    background: url(Rectangle\ 30.png);
    width: 856px;
    height: 540px;
}
.main_1_box_1 button{
    margin-left: 60px;
    margin-top: 301px;
    width: Hug (154px)px;
    height: Hug (44px)px;
    top: 437px;
    left: 372px;
    padding: 10px 20px 7px 20px;
    gap: 10px;
    border-radius: 5px 0px 0px 0px;
}
.main_1_box_1 p{
    margin-left: 60px;
    color: white;
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0.05em;
    text-align: left;
}



.main_1_box_3{
    width: 416px;
    height: 502px;
    border-radius: 0px 0px 5px 5px;
    align-items: center;
}
.main_1_box_2{
    background: #3e1c06;
    text-align: center;
    justify-content: space-between;
}
.main_1_box_2 button{
    width: 49%;
    height: Hug (40px)px;
    padding: 12px 10px 7px 10px;
    gap: 10px;
    border-radius: 5px 5px 0px 0px;
    color: white;
    border: none;
    background: #3e1c06;
}



.main_1_box_3 img{
    width: 160px;
    height: 200px;
}



